<!DOCTYPE html>
<html>
<head>
  <title>Wardrobe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" media="all" href="https://cdnjs.cloudflare.com/ajax/libs/kule.lazy/3.1.160704/css/kule-lazy.min.css" data-turbolinks-track="true" />
  <link rel="stylesheet" media="all" href="https://cdnjs.cloudflare.com/ajax/libs/kule.lazy/3.1.160704/css/kule-theme-default.min.css" data-turbolinks-track="true" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/kule.lazy/3.1.160704/js/kule.urbrowser.min.js" data-turbolinks-track="true"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% if notice %>
        <div class="notice color-primary"><%= notice %></div>
    <% end %>
    <% if alert %>
        <div class="notice color-warning"><%= alert %></div>
    <% end %>
    <%= yield %>
    <div class="notice notice-corner color-success">Currently, your quota only allows for ONE instance.</div>
    <%= render 'layouts/footer' %>
    <% if Rails.env.development? %>
    <div class="columns-12">
      <div class="col-sm-12">
        <div class="panel">
          <div class="panel-box">
            <%= debug(params) %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <script>
    $(function() {
      $("#crumb").append("<li class=\"crumb-end\"><%= action_name %></li>");
      window.setTimeout(function() {
        $(".notice").fadeTo(500, 0).slideUp(500, function(){
          $(this).remove();
        });
      }, 4000);
    });
  </script>
</body>
</html>
